.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.settings__form-area {
    width: 90%;
    max-width: 800px;
    border: 1px solid var(--color-primary);
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    transition: .2s linear;
}

.settings__form-area.active {
    cursor:auto;
}

.settings__form-area.active:hover {
    background-color: inherit;
    color: inherit;
}

.settings__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.settings__form-area:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.close-btn {
    background-color: inherit;
    border: none;
    color: var(--color-light);
}

.settings__title {
    display: flex;
    align-items: center;
    gap: 12px;
}